<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li>
			<!-- Para indicar URL en thymeleaf se indican con @ -->
			<a th:href="@{/variables/string/} + 'txt'">
				Envio de parametros 1</a>
		</li>
		<li>
			<a th:href="@{/variables/string/} + 'txt2/1010'">
				Envio de parametros 2</a>
		</li>
		<li>
			<a th:href="@{/variables/string/} + 'txt/1011'">
				Envio de parametros 3</a>
		</li>
	</ul>
	
</body>

</html>